.bg {
  &-blue {
    background-color: $primary-color;
  }

  &-yellow {
    background-color: $secondary-color !important;
    color: $black;
  }

  &-black {
    background-color: $black !important;
    color: $white !important;
  }

  &-white {
    background-color: $white;
    color: $black;
  }
}

#webgl {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}

.padding {
  &-top {
    padding-top: $global-padding;
  }

  &-right {
    padding-right: $global-padding;
  }

  &-bottom {
    padding-bottom: $global-padding;
  }

  &-left {
    padding-left: $global-padding;
  }
}

.margin {
  &-0 {
    margin: 0;
  }

  &-top {
    margin-top: $global-margin;
  }

  &-right {
    margin-right: $global-margin;
  }

  &-bottom {
    margin-bottom: $global-margin;
  }

  &-left {
    margin-left: $global-margin;
  }
}

.border {
  &-top {
    border-top: 1px solid $black;
    &-yellow {
      border-top: 1px solid $secondary-color;
    }
  }
  &-bottom {
    border-bottom: 1px solid $black;
    &-yellow {
      border-bottom: 1px solid $secondary-color;
    }
  }
}
