.text {
  &-bold {
    font-weight: bold;
  }
}

.no {
  &-border {
    border: 0 !important;
  }
}

.chorus {
  @extend .callout;
  @extend .bg-yellow;
  /*border-top: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;*/

  &-label {

  }
}

.verse {
  @extend .callout;
  @extend .bg-blue;
  /*border-top: 2px solid $secondary-color;
  border-bottom: 2px solid $secondary-color;*/
}
