<div class="c-event">
<!--   <h3 class="c-event-title">About the Author</h3> -->
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="c-event-image">
        <img src="{{root}}assets/img/event--global-midtown-market.jpg" />
      </div>
      <div class="c-event-social">
        <a href="#">
          <span class="fa-stack fa-lg facebook">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg twitter">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg linkedin">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <h4 class="separator-left">Midtown Global Market 10th Anniversary Celebration and the Midtown Global Music Festival</h4>
      <p>Join us in celebration of Midtown Global Market's 10th Anniversary at the Midtown Global Music Festival on Saturday, July 9 from 10 a.m. - 8:30 p.m. It will be a day filled with recognition, reflection, multicultural music and dance to highlighted Midtown Global Market as a center where community gathers!</p>
    </div>
  </div>
</div>
