<li class="level-1">
  <a href="{{root}}">Home</a>
  <!-- <ul class="menu vertical">
    <li><a href="#">Bio</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
  </ul> -->
</li>
<li class="level-1 bio"><a href="{{root}}bio" class="{{#ifpage 'bio/'}}active{{/ifpage}} level01">Bio</a></li>
<li class="level-1"><a href="#" class="{{#ifpage '/music'}}active{{/ifpage}} level01">Music</a>
  <ul class="menu vertical bg-yellow">
    <li><a class="bg-yellow" href="{{root}}music/dance-with-you">Dance With You</a></li>
    <li><a class="bg-yellow" href="{{root}}music/going-home">Going Home</a></li>
    <li><a class="bg-yellow" href="{{root}}music/in-the-moment">In The Moment</a></li>
    <li><a class="bg-yellow" href="{{root}}music/long-lost-brother">Long Lost Brother</a></li>
    <li><a class="bg-yellow" href="{{root}}music/mr-officer">Mr. Officer</a></li>
    <li><a class="bg-yellow" href="{{root}}music/see-your-face">See Your Face</a></li>
    <li><a class="bg-yellow" href="{{root}}music/take-my-life">Take My Life</a></li>
    <li><a class="bg-yellow" href="{{root}}music/when-you-love-somebody">When You Love Somebody</a></li>
  </ul>
</li>
<li class="level-1"><a href="{{root}}shows" class="{{#ifpage '/shows'}}active{{/ifpage}} level01">Shows</a></li>
<!-- <li><a href="{{root}}articles" {{#ifpage '/articles'}}class="active"{{/ifpage}}>Articles</a></li> -->
<!-- <li><a href="{{root}}performances" {{#ifpage '/performances'}}class="active"{{/ifpage}}>Performances</a></li> -->
<li class="level-1"><a href="{{root}}contact" {{#ifpage '/contact'}}class="active" {{/ifpage}}>Contact</a></li>