<ul class="purchase-buttons menu expanded text-center icon-top padding-top padding-bottom">
  <li>
    <a target="_blank" href="https://itunes.apple.com/us/album/the-wibe-of-life/id1151683088">
      <i class="fa fa-apple" aria-hidden="true"></i>
      <span>iTunes</span>
    </a>
  </li>
  <li><a target="_blank" href="https://bryancee.bandcamp.com/releases"><i class="fa fa-bandcamp" aria-hidden="true"></i>  <span>Bandcamp</span></a></li>
  <!-- <li><a href="https://www.youtube.com/channel/UC3iaoI3i56eZSY6uLD9nahg"><i class="fa fa-youtube-play" aria-hidden="true"></i>  <span>YouTube</span></a></li> -->
  <!-- <li><a href="https://soundcloud.com/bryan-cee"><i class="fa fa-soundcloud" aria-hidden="true"></i>  <span>SoundCloud</span></a></li> -->
</ul>
