<ul class="social-buttons menu expanded text-center icon-top padding-top padding-bottom">
  <li><a href="https://www.facebook.com/BryanCeemusic/"><i class="fa fa-facebook" aria-hidden="true"></i>  <span>Facebook</span></a></li>
  <li><a href="https://www.instagram.com/bryan.cee"><i class="fa fa-instagram" aria-hidden="true"></i>  <span>Instagram</span></a></li>
  <li><a href="https://www.youtube.com/channel/UC3iaoI3i56eZSY6uLD9nahg"><i class="fa fa-youtube-play" aria-hidden="true"></i>  <span>YouTube</span></a></li>
  <li><a href="https://soundcloud.com/bryan-cee"><i class="fa fa-soundcloud" aria-hidden="true"></i>  <span>SoundCloud</span></a></li>
</ul>
